.product-card {
  text-align: left;
  img {
    width: 100%;
    height: 150px;
  }
}

.customer-card {
  text-align: center;
  background-color: white;
  position: relative;
  margin-top: 4rem;
  margin-right: 1rem;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    bottom: 90%;
    left: 40%;
  }

  .card-body
  {
    padding: 1.5rem 1rem;
     h3
     {
        position: relative;
        
        &::after
        {
            content: '';
            position: absolute;
            background-color: rgb(128, 128, 128,0.3);
            height: 1px;
            width: 90%;
            top: 45px;
            left: 5%;

        }
     }
     h5
     {
        font-size: 15px;
        color: rgb(0, 0, 0,0.7);
        padding:0 25px;
     }
  }
  .checked{
   color: orange;
  }
}
