    <div class=" mt-2">
      <owl-carousel-o [options]="customOptions">
        <ng-container  *ngFor="let bestSeller of bestSellers; let i = index">
          <ng-template carouselSlide [width]="300">
            <div  class="border-1 surface-border border-round m-2 ">
              <app-product-details (currentProduct)="getSelectedProduct($event)" [productDetails]="bestSeller"></app-product-details>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

    <div class=" mt-5">
      <owl-carousel-o [options]="customOptions">
        <ng-container  *ngFor="let bestieDeal of bestieDeals; let i = index">
          <ng-template carouselSlide [width]="300">
            <div class="border-1 surface-border border-round m-2 ">
              <app-product-details (currentProduct)="getSelectedProduct($event)" [productDetails]="bestieDeal"></app-product-details>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div> 

    <div class=" mt-5">
      <owl-carousel-o [options]="customerOptions">
        <ng-container  *ngFor="let customerComment of customersComments; let i = index">
          <ng-template carouselSlide [width]="300">
            <div class="border-1 surface-border border-round m-2 ">
              <app-product-details [commentDetails]="customerComment"></app-product-details>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div> 


    <div class="selected-product">
      <owl-carousel-o [options]="productOptions">
        <ng-container  *ngFor="let productImg of productImgs; let i = index">
          <ng-template  carouselSlide [width]="300">
            <div class="dot" class="border-1 surface-border border-round m-2 ">
              <img class="sizing" [src]="productImg" alt="">
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div> 
    

    


 
