<header class="pt-5">
  <div
    class="main-desc pt-5 d-flex justify-content-center align-items-center text-center"
  >
    <h2>
      Embrace Your <br />
      beauty & confidence <br />
      with Emmable
    </h2>
  </div>

  <div class="img-container">
    <div class="first-img"></div>
    <div class="second-img"></div>
    <div class="third-img"></div>
    <div class="fourth-img"></div>
    <div class="fifth-img"></div>
    <div class="sixth-img"></div>
  </div>
</header>

<section class="container py-5" id="bestSeller">
  <div class="carousel-title my-5">
    <h2>Best Seller Products</h2>
  </div>
  <app-product-carousel [bestSellers]="bestSeller"></app-product-carousel>
</section>

<section class="container py-4" id="change-categories">
  <div class="category-btns d-flex justify-content-center">
    <a (click)="getBestie()">Bestie deals for you</a>
    <a (click)="getNewBeauty()">New beauty bestie</a>
    <a (click)="getMustHave()">Must-have beauties</a>
  </div>

  <app-product-carousel
    [mustHave]="mustHave"
    [newBeauty]="newBeauty"
    [bestieDeals]="bestieDeals"
  ></app-product-carousel>

  <!-- <app-product-carousel [newBeauty]="newBeauty"></app-product-carousel>

  <app-product-carousel [mustHave]="mustHave"></app-product-carousel> -->
</section>

<section
  class="container-fluid py-4 customers-comments"
  id="customers-comments"
>
  <div class="carousel-title my-5">
    <h2>What Our Customers Have To Say</h2>
    <p>Some OF Our Popular Customers</p>
  </div>
  <app-product-carousel
    [customersComments]="customersComments"
  ></app-product-carousel>
</section>

<section class="contact-us">
  <div class="w-75 m-auto ">
    <div class="row">

      <div class="col-md-4">
        <div class="contact-info ">
          <fa-icon [icon]="faTruck"></fa-icon>
          <h4>Free shipping</h4>
          <p>when you spend +100</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-info brdr">
          <fa-icon [icon]="faPhone"></fa-icon>
          <h4>Give us a call</h4>
          <p>1-234-567-8900</p>
        </div>
      </div>
      
      <div class="col-4">
        <div class="contact-info">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <h4>Email us</h4>
          <p>info@emmable.com</p>
        </div>
      </div>

    </div>
    
  </div>
</section>
