<div *ngIf="loading" class="loading-spinner">
  <app-loading-spinner></app-loading-spinner>
</div>

<header class="pt-5">
  <div class="main-desc pt-5 d-flex justify-content-center align-items-center text-center">
    <h2>
      Embrace Your <br />
      beauty & confidence <br />
      with Emmable
    </h2>
  </div>

  <div class="img-container">
    <div class="first-img"></div>
    <div class="second-img"></div>
    <div class="third-img"></div>
    <div class="fourth-img"></div>
    <div class="fifth-img"></div>
    <div class="sixth-img"></div>
  </div>
</header>

<section *ngIf="bestSeller" class="container py-5" id="bestSeller">
  <div class="carousel-title my-5">
    <h2>Best Seller Products</h2>
  </div>
  <app-product-carousel *ngIf="bestSeller.length" [products]="bestSeller"></app-product-carousel>
</section>

<section class="container py-4 " id="change-categories">

  <div class="category-btns text-center ">
    <p class="active" [ngClass]="{'active':selectedCategory===categoryName}" (click)="getCategoryName(categoryName)" *ngFor="let categoryName of categoryNames">{{categoryName}}</p>
  </div>

    <div *ngIf="selectedCategory ==='Bestie deals for you'" class="bestieDeals">
      <app-product-carousel  *ngIf="bestieDeals.length" [products]="bestieDeals"></app-product-carousel>
    </div>

  <div *ngIf="selectedCategory ==='New beauty bestie'" class="newBeauty">
    <app-product-carousel *ngIf="newBeauty.length" [products]="newBeauty"></app-product-carousel>
  </div>

  <div *ngIf="selectedCategory ==='Must-have beauties'" class="mustHave">
    <app-product-carousel  *ngIf="mustHave.length" [products]="mustHave"></app-product-carousel>  
  </div>
       
</section>

<section *ngIf="customersComments" class="container-fluid py-4 customers-comments" id="customers-comments">
  <div class="carousel-title my-5">
    <h2>What Our Customers Have To Say</h2>
    <p>Some OF Our Popular Customers</p>
  </div>
  <app-product-carousel *ngIf="customersComments.length" [customersComments]="customersComments"></app-product-carousel>
</section>

<section class="contact-us">
  <div class="w-75 m-auto ">
    <div class="row">

      <div class="col-md-4">
        <div class="contact-info">
          <fa-icon [icon]="faTruck"></fa-icon>
          <h4>Free shipping</h4>
          <p>when you spend +100</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-info brdr">
          <fa-icon [icon]="faPhone"></fa-icon>
          <h4>Give us a call</h4>
          <p>1-234-567-8900</p>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="contact-info">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <h4>Email us</h4>
          <p>info@emmable.com</p>
        </div>
      </div>

    </div>
    
  </div>
</section>