<footer>
  <section id="footer-head">

    <div class="container mt-5 ">

      <div class="row">
        
        <div class="col-md-3 ">
          <h2>Quick order</h2>
          <h3 class="m-0 p-0">(123) 456 7890</h3>
          <p class="mb-4">Monday - Friday: 09:00 - 16:00</p>
          <p class="pb-1 mb-0">Find a location nearest you</p>
          <a href="">See Our Stores</a>
        </div>

        <div class="col-md-2 offset-md-1  ">
          <h4>Company</h4>
          <p>About Us</p>
          <p>Blog</p>
          <p>Careers</p>
        </div>

        <div class="col-md-2">
          <h4>Shop</h4>
          <p>Gift Cards</p>
          <p>Our Products</p>
          <p>My Account</p>
        </div>

        <div class="col-md-2">
          <h4>Support</h4>
          <p>Contact Us</p>
          <p>Payment Options</p>
          <p>Store Locater</p>
        </div>

        <div class="col-md-2">
          <h4>FAQ</h4>
          <p>Rewards FAQ</p>
          <p>Product Care</p>
          <p>Size Guide</p>
        </div>

      </div>

    </div>

  </section>

  <section id="footer-end">
    <div class="container py-5">
        <div class="row align-items-center ">
            <div class="col-md-3">
                <div>
                    <p>@2022 All rights reserved. Designed by Amr Ali Mostafa</p>
                </div>
            </div>
            <div class="col-md-4 offset-md-1 text-center">
                <div>
                    <h2> Emmable </h2>
                </div>
            </div>
            <div class="col-md-3 offset-md-1  ">
                <div class="d-flex justify-content-center">
                    <p class="text-light">Payment Partners</p>
                    <fa-icon [icon]="faCcPaypal" ></fa-icon>
                    <fa-icon [icon]="faCreditCard" ></fa-icon>
                    <fa-icon [icon]="faCcVisa" ></fa-icon>
                    <fa-icon [icon]="faCcAmazonPay" ></fa-icon>
                    <fa-icon [icon]="faCcStripe" ></fa-icon>
                </div>
            </div>
        </div>
    </div>

  </section>

</footer>
