
<div *ngIf="loading" class="loading-spinner">
    <app-loading-spinner></app-loading-spinner>
</div>
<section *ngIf="myBagProducts.length==0 && !loading" class="empty-bag">
    <div class>
        <h2> Your Bag Is Empty</h2>
    </div>
</section>

<section class="container" id="mybag">
    
    <div *ngIf="myBagProducts.length!==0" class="brdr">
            <h2> My Bag ({{myBagProducts.length}}) </h2>
            <ng-container  *ngIf="myBagProducts">
                
                <div class="row ms-0 mb-5"  *ngFor="let myBagProduct of myBagProducts ; let i = index "  >

                    <div class="col-md-3 pe-0 ps-0 ">
                        <div class="img-holder ">
                            <img [src]="myBagProduct.thumbnail" alt="">
                        </div>
                    </div>
    
                    <div class="col-md-9">
                        <div class="product-card ms-3">
    
                            <div class=" mybag-header d-flex justify-content-between  ">
                                <h3>{{myBagProduct.title}}</h3>
                                <p>${{myBagProduct.purchasePrice | number: '1.0-2'}} </p>
                            </div>
                            <strong class=""> ${{myBagProduct.originalPrice}}</strong>
                            <p class="liquid pt-2"> 50 ml</p>
    
                            <div class="mybag-footer d-flex justify-content-between align-items-end" >
                                <div class=" d-flex align-items-center mt-4 pt-4">
                                    <div class="btns d-inline">
                                        <button (click)="removeItem(i)" type="button" ><i class="pi pi-minus"></i></button>
                                        <span class="mx-2"> {{myBagProduct.valueOfQuantity}} </span>
                                        <button (click)="addItem(i)" type="button" ><i class="pi pi-plus"></i></button>
                                      </div>
                                      <span class="stock-left"> Stock: <p>{{ myBagProduct.quantity}} left</p> </span>
                                </div>
                                <button class="trash-icon deleteBtn" [ngClass]="{'deleteBtn':disabledDeleting===true}" [disabled]="disabledDeleting" mat-raised-button (click)="openDialog(myBagProduct)"  type="button" >
                                    <i class="pi pi-trash"></i>
                                </button>
                            </div>
                            
                        </div>

                    </div>
                </div>
        </ng-container>
    </div>
    <div class=" checkout-journey pb-4">
        <div class="total-pay-box d-flex justify-content-between mb-5">
            <p>Total Cash</p>
            <p > ${{totalPrice | number: '1.0-2'}}</p>
        </div>
        <div class="pay-btn text-center">
            <button type="button" class=" checkout-btn proccedBtn" [ngClass]="{'proccedBtn':disabledDeleting===true || myBagProducts.length==0}" [disabled]="disabledDeleting" (click)="completeCheckout()">Procced To Checkout</button>
        </div>
    </div>
   
</section>
