<div class="row">
  <div class="product-img col-md-6">
    <app-product-carousel *ngIf="data.imgs.length" [productImgs]="data.imgs"></app-product-carousel>
  </div>

  <div class="product-details p-5 pt-0 col-md-6">

    <div class="pb-0" mat-dialog-content>

      <h2>{{ data.title }}</h2>
      <h4>${{ data.price }}</h4>

      <span class="stock-left"> Stock: <p>{{ data.quantity }} left</p> </span>
    
      <div class="product-desc mt-4">
        <h3 class="m-0 p-0 fs-6 fw-bolder">Product Details</h3>
        <p class="my-2">{{ data.details }}</p>
      </div>
    </div>
  </div>

</div>
