$border: 1px solid rgb(128, 128, 128, 0.4);

.product-details {
  .priceClr
  {
    color: rgb(255, 106, 0) ;
  }
    
  .product-desc {
    border-top: $border;
    border-bottom: $border;
  }
}
.stock-left {
  p {
    font-weight: 600;
    display: inline;
  }
}
