<section class="container py-5 my-5 " id="order-done">
    <div class="col-md-12">
        <div class="checked-order text-center">
            <img src="/assets/imgs/checked-sign/download.png" alt="">
            <h3>Your Order Is Complete!</h3>
            <p>Thank You For Buying !</p>
            <p>your order has been placed and will be processed as soon as possible.</p>
            <p>you will be receiving an email shortly with confirmation of your order</p>
            <button class="home-btn" (click)="router.navigate(['/'])"> Go back shopping</button>
        </div>
    </div>


</section>