/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@font-face {
  font-family: "Emmable";
  font-style:normal ;
  src: url('./assets/fonts/Gloock-Regular.ttf') format("ttf");
}
@font-face {
  font-family: "Lugrasimo";
  font-style:normal ;
  src: url('./assets/fonts/Lugrasimo-Regular.ttf') format("ttf");
}