<nav [class.dark]="scrolling" class="navbar  navbar-expand-lg" > 
  <div class="container-fluid align-items-center">

      <div *ngIf="isAuthenticated"  class="col-md-5">
        <div >
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent" >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" (click)="router.navigate([''])" aria-current="page" >About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="router.navigate(['/product-categories'])" >Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >Our Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      
    </div>

      <div class="col-md-3">

        <div class="title">
          <h1 id="main-title" class="text-center">Emmable</h1>
        </div>

      </div>
      
       <div  class="col-md-3 offset-1">
        <div class="my-cart pt-2">
          <p   class="nav-btn d-inline me-4 pointer-event" (click)="logout()" *ngIf="isAuthenticated" >Logout</p>
          <p   class="nav-btn d-inline" *ngIf="isAuthenticated" (click)="router.navigate(['/my-bag'])">My Bag ({{quantity}})</p>
        </div>
       </div>
    </div>
</nav>
